<div class="col-lg-4 col-md-4 col-sm-12 mx-auto">
    <div class="login-form-wrapper">
      <form action="/action_page.php" #form="ngForm"  (ngSubmit)="onSubmit()" class="sn-form sn-form-boxed">
        <div class="sn-form-inner">
          <div class="single-input">
            <label for="register-form-name">Addressline1</label>
            <input type="text" ngModel name="addressline1">
          </div>
          <div class="single-input">
            <label for="register-form-email">Addressline2</label>
            <input type="text" ngModel name="addressline2" >
          </div>
          <div class="single-input">
            <label for="register-form-password">Addressline3</label>
            <input type="text" ngModel name="addressline3" >
          </div>
         
        </div>
      </form>
                </div>
              </div>