<!-- <app-header></app-header>
Page Conttent
<main class="page-content"> -->

  <!-- My Account Page -->
  <!-- <div class="my-account-area section-padding-md">
    <div class="container">
      <div class="row">

        Login Form
        <div class="col-lg-4 col-md-4 col-sm-12 mx-auto">
          <div class="login-form-wrapper">
            <form action="#" class="sn-form sn-form-boxed" (ngSubmit)="f.form.valid && onSubmit()" [formGroup]="form">
              <div class="sn-form-inner">
                <div class="single-input">
                  <label for="login-form-email">Email</label>
                  <input type="text" name="email" ngModel id="email">
                </div>
                <div class="single-input">
                  <label for="password">Password</label>
                  <input type="password" name="password" ngModel id="password">
                </div>
                <div class="single-input">
                  <button type="submit" class="sn-button sn-button-dark mr-3">
                    <span>Login</span>
                  </button>
                  <div class="checkbox-input">
                    <input type="checkbox" name="login-form-remember" id="login-form-remember">
                    <label for="login-form-remember">Remember me</label>
                  </div>
                </div>
                <div class="single-input">
                  <a routerLink="/forgot-password" (click)="start()" href="javascript:;"><h5>Forgot password?</h5></a>
                 <a routerLink="/register"  href="javascript:;"><h5>NewUser?</h5></a>

                 
                </div>
              </div>
            </form>
          </div> -->
        <!-- </div> -->
        <!--// Login Form -->

      <!-- </div>
    </div>
  </div> -->
  <!--// My Account Page -->


<!-- </main> -->
<!-- // Page Conttent -->
<!-- <div *ngIf="isLoggedIn; else loggedOut">

</div> -->

<div class="main" style="margin-left:30%;margin-top: 5%;margin-bottom: 5%">
<!-- <ng-template #loggedOut >
  <div class="row col-sm-6" style="max-width:350px;"> -->
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" [(ngModel)]="form.username" #username="ngModel"
          required />
        <div *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors.required">Username is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel"
          required minlength="6" />
        <div *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
        </div>
      </div>
      <div class="form-group">
        <button class="sn-button sn-button-dark mr-3">Login</button>
        <div *ngIf="f.submitted && isLoginFailed" routerLink="/home" class="alert alert-danger">
          Login failed: {{errorMessage}}
        </div>
      </div>
    </form>
    <hr />
    <p>Don't have an account?</p>
    <a routerLink="/register" class="btn btn-success">Sign Up</a>
  <!-- </div>
</ng-template> -->
</div>