<div class="about">
<h1>About us</h1>    
   <p> Eha Enterprises is a recent name for weaving unit established in 1977.</p>
<p>At Eha Enterprises, rich experience and skill is blended to make a 6 yard Indian traditional wear.</p>
    <p>Every saree design at Eha is amalgamation of traditional wear with Modern stylish trends, making it suitable for all occasions and to all class of women.</p>
   <p> Sarees from our Eha house portraits women’s inner beauty by decorating her with confidence, comfort and more women.</p>
   <p> Every saree is weaved in a traditional age old jacquard loom and hand loom, making every yarn and zari to pair with the design forming an artistic texture and revealing a fine fabric with great clothing feel.</p>
<p>    We focus on colours as the human emotions swings on colours, every saree colour is chosen by our expert to make women to feel as a bride with special bliss.</p>
  <p>  Every thread yarn and zari of highest and superior quality is used. Quality is controlled and assured while producing the saree and every saree is handpicked for checking by our quality assurance team prior to dispatch.</p>
<p>We have supply capacity up to 20000 sarees per month.</p>
    
</div>
