
.circle:before {
    content: ' \25CF';
    font-size: 30px;
   
  }

  .cred {
    color: red;
  }

  .cgreen{
    color: green;
  }

  .cblue{
    color: blue;
}

.disp {
    display: inline;
    
}

.pos {
    padding-left: 5px ;
    position: relative; 
    top:-4px;
    left:0px
}

.posfor {
    padding-left: 5px ;
}