		<!-- Footer Area -->
		<footer class="footer-area bg-white section-padding-sm">

			<!-- Footer Top Area -->
			<div class="footer-top-area">
				<div class="container">
					<div class="row widgets footer-widgets">
						
						<!-- Single Widget -->
						<div class="col-lg-3 col-md-6 col-sm-6 col-12">
							<div class="single-widget widget-quicklinks">
								<h6 class="widget-title">Eha</h6>
								<ul>
									<li><a routerLink="/aboutus">About Us</a></li>
									<li><a href="#">About Our Shop</a></li>
									<li><a href="#">Secure Shopping</a></li>
									<li><a href="#">Privacy Policy</a></li>
									<li><a href="#">Terms & Conditions</a></li>
									<li><a href="#">Return & Exchange Policy</a></li>
									<li><a href="#">Shipping Policy</a></li>
									<li><a href="#">Contact Us</a></li>
								</ul>
							</div>
						</div>
						<!--// Single Widget -->
						
						<!-- Single Widget -->
						<div class="col-lg-3 col-md-6 col-sm-6 col-12">
							<div class="single-widget widget-quicklinks">
								<h6 class="widget-title">Useful Links</h6>
								<ul>
									<li><a href="#">FAQ</a></li>
									<li><a href="#">Sitemap</a></li>
									<li><a routerLink="register">User Registrtaion</a></li>
									<li><a href="#">Collections</a></li>
									<li><a href="#">Track Order</a></li>
								</ul>
							</div>
						</div>
						<!--// Single Widget -->
						
						<!-- Single Widget -->
						<div class="col-lg-3 col-md-6 col-sm-6 col-12">
							<div class="single-widget widget-contact">
								<h6 class="widget-title">CONTACT US</h6>
								<ul>
									<li class="location">
										<i class="fa fa-map-marker"></i>
										<p>1234, Industrial Town, Rajajinagar, Bengaluru - 560 079</p>
									</li>
									<li class="phone">
										<i class="fa fa-mobile"></i>
										<a href="tel:+80001234567890">080 23145623</a>
										<a href="tel:+80009876543210">080 24132568</a>
									</li>
									<li class="mail">
										<i class="fa fa-envelope-o"></i>
										<a href="mailto://shipping@eha.com">shipping@eha.com</a>
										<a href="mailto://order@eha.com">order@eha.com</a>
									</li>
								</ul>
							</div>
						</div>
						<!--// Single Widget -->

					</div>
				</div>
			</div>
			<!--// Footer Top Area -->

			<!-- Footer Copyright Area -->
			<div class="footer-copyright-area section-padding-top-xs">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-9">
							<p class="footer-copyright">Copyright &copy; 2018 <a href="#">Eha</a>. All Rights Reserved</p>
						</div>
						<div class="col-lg-3">
							<div class="footer-social-links">
								<ul>
									<li><a title="Facebook" href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a title="Twitter" href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a title="Google Plus" href="#"><i class="fa fa-google-plus"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--// Footer Copyright Area -->
			
		</footer>
		<!--// Footer Area -->