<!-- Page Conttent -->
<main class="page-content">

  <!-- My Account Page -->
  <div class="my-account-area section-padding-md">
    <div class="container">
      <div class="row">

<!-- Register Form -->
<div class="col-lg-4 col-md-4 col-sm-12 mx-auto">
  <div class="login-form-wrapper">
    <form action="#" class="sn-form sn-form-boxed">
      <div class="sn-form-inner">
        <div class="single-input">
          <label for="register-form-email">Email address</label>
          <input type="text" name="register-form-email" id="register-form-email">
        </div>
        <div class="single-input">
          <button type="submit" class="sn-button btn-block btn-lg">
            <span>Send Password</span>
          </button>
        </div>
      </div>
    </form>
              </div>
            </div>
            <!--// Register Form -->

      </div>
    </div>
  </div>
  <!--// My Account Page -->


</main>
<!--// Page Conttent -->