

<!-- Hero Area -->
		<div class="hero-area slider-navigation-1">
			<div class="single-hero-item d-flex align-items-center"style="background-image: url(assets/img/hero-image/hero-image-1.jpg);">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-8 col-md-9 offset-xl-1 offset-0">
							<div class="hero-content">
								<h1>LATEST & EXCLUSIVE COLLECTIONS FOR WOMEN</h1>
								<p>Eha is one of the best shop for mens product & womens product. We always try to bring latest & exclusive collections.</p>
								<a href="javascript:;" class="sn-button">
									<span>Shop Now</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="single-hero-item d-flex align-items-center"style="background-image: url(assets/img/hero-image/hero-image-2.jpg);">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-8 col-md-9 offset-xl-1 offset-0">
							<div class="hero-content">
								<h1>OUR NEW COLLECTIONS FOR STYLISH WOMEN</h1>
								<p>Eha is one of the best shop for mens product & womens product. We always try to bring latest & exclusive collections.</p>
								<a href="javascript:;" class="sn-button">
									<span>Shop Now</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<!--// Hero Area -->

		<!-- Page Conttent -->
		<main class="page-content">

			<!-- Banners Area -->
			<div class="banner-area section-padding-md">
				<div class="container">
					<div class="row banners-masonry-active banners-wrapper">

						<!-- Single Banner -->
						<div class="col-lg-8 col-12 masonry-item">
							<a [routerLink]="['/product-list' , bannerList[0].categoryDomain.categoryId ]" class="banner mt-30">
								<img src={{bannerList[0].imagePath}} alt="best banner image">
								<div class="banner-content text-center">					
									<h3>{{bannerList[0].categoryDomain.categoryName}}</h3>
									<p>Ever since its inception, Kanchipuram silk sarees have stayed true to the inclusion of temple arts</p>
								</div>
							</a>	
						</div>
						<!--// Single Banner -->

						<!-- Single Banner -->
						<div class="col-lg-4 col-md-6 col-12 masonry-item">
							<a [routerLink]="['/product-list' , bannerList[1].categoryDomain.categoryId]" class="banner mt-30">
								<img src={{bannerList[1].imagePath}} alt="best banner image">
								<div class="banner-content banner-content-2 text-center">					
									<h3>{{bannerList[1].categoryDomain.categoryName}}</h3>
									<p>Sale away with 58 new styles up 80 % off</p>
								</div>
							</a>	
						</div>
						<!--// Single Banner -->

						<!-- Single Banner -->
						<div class="col-lg-4 col-md-6 col-12 masonry-item">
							<a [routerLink]="['/product-list' , bannerList[2].categoryDomain.categoryId ]" class="banner mt-30">
								<img src={{bannerList[2].imagePath}} alt="best banner image">
								<div class="banner-content banner-content-2 text-center">					
									<h3>{{bannerList[2].categoryDomain.categoryName}}</h3>
									<p>Make your life more colorful !</p>
								</div>
							</a>	
						</div>
						<!--// Single Banner -->

						<!-- Single Banner -->
						<div class="col-lg-4 col-md-6 col-12 masonry-item">
							<a [routerLink]="['/product-list' , bannerList[3].categoryDomain.categoryId]" class="banner mt-30">
								<img src={{bannerList[3].imagePath}} alt="best banner image">
								<div class="banner-content banner-content-2 text-center">					
									<h3>{{bannerList[3].categoryDomain.categoryName}}</h3>
									<p>Spring Collections 2018</p>
								</div>
							</a>	
						</div>
						<!--// Single Banner -->

						<!-- Single Banner -->
						<div class="col-lg-4 col-md-6 col-12 masonry-item">
							<a [routerLink]="['/product-list' , bannerList[4].categoryDomain.categoryId]" class="banner mt-30">
								<img src={{bannerList[4].imagePath}} alt="best banner image">
								<div class="banner-content banner-content-2 text-center">					
									<h3>{{bannerList[4].categoryDomain.categoryName}}</h3>
									<p>Get the new look with only</p>
								</div>
							</a>	
						</div>
						<!--// Single Banner -->

						<!-- Single Banner -->
						<div class="col-lg-4 col-md-6 col-12 masonry-item">
							<a [routerLink]="['/product-list' , bannerList[5].categoryDomain.categoryId]" class="banner mt-30">
								<img src={{bannerList[5].imagePath}} alt="best banner image">
								<div class="banner-content banner-content-2 text-center">					
									<h3>{{bannerList[5].categoryDomain.categoryName}}</h3>
									<p>Ever since its inception</p>
								</div>
							</a>	
						</div>
						<!--// Single Banner -->

						<!-- Single Banner -->
						<div class="col-lg-4 col-md-6 col-12 masonry-item">
							<a [routerLink]="['/product-list' , bannerList[6].categoryDomain.categoryId]" class="banner mt-30">
								<img src={{bannerList[6].imagePath}} alt="best banner image">
								<div class="banner-content banner-content-2 text-center">					
									<h3>{{bannerList[6].categoryDomain.categoryName}}</h3>
									<p>Kanchipuram silk sarees have stayed true to the inclusion of temple arts</p>
								</div>
							</a>	
						</div>
						<!--// Single Banner -->

						<!-- Single Banner -->
						<div class="col-lg-4 col-md-6 col-12 masonry-item">
							<a [routerLink]="['/product-list' , bannerList[7].categoryDomain.categoryId]" class="banner mt-30">
								<img src={{bannerList[7].imagePath}} alt="best banner image">
								<div class="banner-content text-center">					
									<h3>{{bannerList[7].categoryDomain.categoryName}}</h3>
									<p>Our best beautiful multitakers – 30% OFF</p>
								</div>
							</a>	
						</div>
						<!--// Single Banner -->
						
						<!-- Single Banner -->
						<div class="col-lg-4 col-md-6 col-12 masonry-item">
							<a [routerLink]="['/product-list' , bannerList[8].categoryDomain.categoryId]" class="banner mt-30">
								<img src={{bannerList[8].imagePath}} alt="best banner image">
								<div class="banner-content banner-content-2 text-center">					
									<h3>{{bannerList[8].categoryDomain.categoryName}}</h3>
									<p>Spring / Summer 2018</p>
								</div>
							</a>	
						</div>
						<!--// Single Banner -->

					</div>
				</div>
			</div>
			<!--// Banners Area -->

			<!-- Features Area -->
			<div class="features-area">
				<div class="container">
					<div class="row justify-content-center features-wrapper">

						<!-- Single Features -->
						<div class="col-lg-4 col-md-6 col-12">
							<div class="features text-center bg-feature-1">
								
							</div>	
						</div>
						<!--// Single Features -->

						<!-- Single Features -->
						<div class="col-lg-4 col-md-6 col-12">
							<div class="features text-center bg-feature-2">
								
							</div>
						</div>
						<!--// Single Features -->

						<!-- Single Features -->
						<div class="col-lg-4 col-md-6 col-12">
							<div class="features text-center bg-feature-3">
								
							</div>
						</div>
						<!--// Single Features -->

					</div>
				</div>
			</div>
			<!--// Features Area -->

			<!-- Newsletter & Brand Logos Area -->
			<div class="newsletter-brandlogo-area section-padding-xs">
				<div class="container">
					<div class="row no-gutters align-items-center">
						<!-- Brand Logo -->
						<div class="col-lg-6">
							<div class="brand-logos slider-navigation-2">
								<div class="brand-logo text-center">
									<h1>Newsletter</h1>
								</div>
							</div>
						</div>
						<!--// Brand Logo -->
						<!-- Newsletter -->
						<div class="col-lg-6">
							<div class="newsletterbox">
								<h5>SIGN UP FOR OUR WEEKLY NEWSLETTER !</h5>
								<form action="#">
									<input type="text" placeholder="Email">
									<button type="submit">Subscribe</button>
								</form>
							</div>
						</div>
						<!--// Newsletter -->
					</div>
				</div>
			</div>
			<!--// Newsletter & Brand Logos Area -->

		</main>
		<!--// Page Conttent -->

		