

<div class="container" style="margin-left: 8cm">

  <form action="" ngForm (ngSubmit) = "register(frm)" #frm =  "ngForm">
    <div class="form-group">
      <label for="">username</label>
      <input type="text" name="username"  #user="ngModel" pattern="[a-zA-Z][a-zA-Z]+"  class="form-control" ngModel required >
      </div>
      <div style="color: red" *ngIf="user?.touched ">
          <div *ngIf="user.errors?.required">
        username is required
          </div>
          <div *ngIf="user.errors?.pattern">
              username must be character
                </div>
      </div>

    <div class="form-group">
      <label for="">email</label>
      <input type="email" name="email"  #em="ngModel" pattern="[a-z0-9.]+@[a-z]+.[a-z]"  class="form-control" ngModel required >
      </div>
      <div style="color: red" *ngIf="em?.touched ">
          <div *ngIf="em.errors?.required">
        email is required
          </div>
          <div *ngIf="em.errors?.pattern">
              enter valid email
                </div>
      </div>

    <div class="form-group">
      <label for="">password</label>
      <input type="password" name="password" #phon="ngModel" pattern="[0-9]*" #phon="ngModel"  maxlength="8" class="form-control" ngModel required >
      </div>
      
      <div style="color: red" *ngIf="phon?.touched ">
          <div *ngIf="phon.errors?.required">
        password is required
          </div>
          <div *ngIf="phon.errors?.pattern">
              password must be number
                </div>
                <div *ngIf="phon.errors?.minlength">
                    enter 8 digit number 
                      </div>
      </div>

    <br>
    <input type="submit" class="btn btn-success" placeholder="password" [disabled]="frm.invalid">

  </form>



</div>
