

<div class="container">

  <form action="" ngForm (ngSubmit) = "register(frm)" #frm =  "ngForm">

    <label for="unsrname"> Username </label>
    <input type="text" ngModel placeholder="user name" name="username">

    <label for="email"> Email </label>
    <input type="email" ngModel placeholder="email" name="email">

    <label for="password"> Password </label>
    <input type="password" ngModel placeholder="password" name = "password"  >

    <br>
    <input type="submit" placeholder="password">

  </form>



</div>